<div class='well' >
	<h4 id='title'>HMS 1000 Molecules</h4>
	<h4>
	DARPA Living Foundries: 1000 Molecules Project
	</h4>
	DARPA-BAA-13-37 
	</br>
	</br>
	DARPA’s Living Foundries: 1000 
	Molecules program seeks to build a scalable, integrated, rapid design and prototyping 
	infrastructure for the facile engineering of biology. This infrastructure will enable 
	transformative and currently inaccessible projects to develop advanced chemicals, 
	materials, sensing capabilities, and therapeutics. Furthermore, the infrastructure will 
	provide a flexible, efficient, and continuously improving capability to Department of 
	Defense (DoD) and the engineering biology community. A final proof-of-principle 
	demonstration of capabilities will require rapid design and prototyping centers to 
	generate 1000 novel molecules and chemical building blocks, thus enabling access to 
	radical new materials.	
	</br>
	</br>
	Contact: <a href=mailto:1km-feedback@hms.harvard.edu>1km-feedback@hms.harvard.edu</a>
</div>